version: "3"

services:
  db:
    image: postgres
    container_name: db
    environment:
        - POSTGRES_PASSWORD=postgres
    networks:
        - djangonetwork
  web:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - djangonetwork
networks:
  djangonetwork:
    driver: bridge
